body{
font-family:Poppins;
background:#eef2f7;
margin:0;
}

.title{
text-align:center;
padding:25px;
color:#0d1b2a;
}

.course-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
padding:30px;
}

.card{
background:white;
border-radius:15px;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,.2);
transition:.4s;
cursor:pointer;
}

.card:hover{
transform:translateY(-12px);
}

.imgBox{
position:relative;
height:200px;
}

.imgBox img{
width:100%;
height:100%;
object-fit:cover;
}

.badge{
position:absolute;
top:15px;
left:15px;
padding:6px 14px;
border-radius:20px;
color:white;
font-size:12px;
}

.ug{background:#ff9800;}
.pg{background:#9c27b0;}
.commerce{background:#009688;}
.science{background:#3f51b5;}
.tech{background:#f44336;}
.computer{background:#2196f3;}
.management{background:#795548;}
.law{background:#5d4037;}
.medical{background:#e91e63;}
.phd{background:#673ab7;}

.details{
padding:18px;
text-align:center;
}

.details button{
background:#0d1b2a;
color:white;
padding:8px 15px;
border:none;
border-radius:6px;
cursor:pointer;
}

/* Popup */
.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.6);
}

.popup-box{
background:white;
width:350px;
margin:8% auto;
padding:25px;
border-radius:15px;
text-align:center;
}

.close{
float:right;
cursor:pointer;
font-size:22px;
}

.apply{
background:#0d1b2a;
color:white;
padding:10px 20px;
margin-top:10px;
border:none;
border-radius:6px;
}
